.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check,
.dropdown-menu .divider,
#scroll-top
{
    background-color: #ffb300;
}

.navbar-brand > span,
.about h1 span,
.testimonial span,
.footer h3,
.footer .copyright span
{
    color: #ffb300;
}

.testimonial .carousel-indicators li.active,
.option-box .color-option
{
    border: 3px solid #ffb300;
}

.price-table .price-box:hover p
{
    border: 2px solid #ffb300;
}

.dropdown-menu
{
    border-top: 3px solid #ffb300;
}
